body {
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-sans
}

h1 {
  border-bottom: 1px solid lightgray;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

blockquote {
  background-color: #ddd;
  margin: 0;
}

#nav {
  background: #eee;
  box-shadow: 4px 4px 4px lightgray;
  border: 1px solid darkgray;

  text-align: center;
  position: sticky;
  top: 0;
  margin-left: 1em;
  margin-right: 1em;
  z-index: 1;
}

#nav li {
  display: inline;
  padding-left: 0;
}

#nav li::after {
  content: " ";
  word-spacing: 1em;
  background-image: linear-gradient(
    -0.25turn,
    transparent 0 0.6em,
    currentcolor 0 0.7em,
    transparent 0
  );
}

h1 {
  text-align: center;
}

ul, ol {
  padding-left: 1.5em;
}

#content {
  width: calc(100% - 1em);
}

.gm {
  border: 1px solid darkgray;
  color: #333;
  background-color: #eee;
  margin: 0 0 0 1em;
  padding: 0 1em;
  width: calc(100% - 3em);
}

.statbox {
  border: 1px solid gray;
  max-width: 20%;
  float: right;
  margin: 0 -2px 0 0;
}

.statbox img {
  width: 100%;
}

.statbox .source-link {
  text-align: right;
  font-size: x-small;
  margin: -1.5em 1em 0.3em 0;
}

table tr:nth-child(odd) {
  background: #ccc;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  font-size: small;
}

table th {
  background: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table td {
  border: 1px solid darkgray;
  padding: 0.15em 0.25em;
}

/* -- Index pages with gallery navigation -- */

#gallery div {
  display: inline-block;
  border: 1px solid lightgray;
  margin-bottom: 0.5em;
  padding: 0.4em;
  text-align: center;
}

#gallery div img {
  height: 10em;
}

/* -- Timeline -- */

/*
 * Adapted from css-timeline-with-curves:
 * https://alvarotrigo.com/blog/html-css-timelines/
 * https://codepen.io/alvarotrigo/pen/BawBzjM
 */

:root {
  --timeline-line-width: 12px;
  --timeline-line-width-sub: 18px;
  --timeline-line-padding: 12px;
  --timeline-line-padding-sub: 6px;
  --timeline-card-margin: -47px;
  --timeline-card-margin-sub: -42px;
  --timeline-line-color: sandybrown;
  --timeline-text-color: #444;
  --timeline-background-color: #ddd;
}

/* Timeline Container */
.timeline {
  margin: var(--timeline-line-padding) auto;
  padding: var(--timeline-line-padding);
  display: flex;
  justify-content: center;
  font-size: small;
}

.timeline .outer {
  left: auto;
  right: auto;
  width: calc(min(50em, max(80%, min(600px, 100%))));
}

/* Card container */
.timeline .card {
  position: relative;
}

/* setting padding */
.timeline .card {
  padding: 3px 0 10px 8px;
  border-left: 10px solid var(--timeline-line-color);
}

/*
 * Make timeline extend upward off the top.
 * It is nth-child(2) because the first child is not
 * a card, but rather a span with class sortstamp.
 */
.timeline .card:nth-child(2) {
  padding-top: 200px;
  margin-top: -200px;
}

/* Make timeline extend downward off the bottom. */
.timeline .card:last-child {
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.timeline .card summary h3 {
  display: inline-block;
  padding-right: 1em;
}

/* Information about the timeline */
.timeline .info {
  display: block;
  background: var(--timeline-background-color);
  color: var(--timeline-text-color);
  border-radius: 10px;
  padding: 10px;
}

/* Title and date of the card. */
.timeline h3 {
  margin: 0;
}

/* Title of the card */
.timeline .title {
  color: var(--timeline-line-color);
  position: relative;
}

/* Timeline dot  */
.timeline .title::before {
  content: "";
  position: absolute;
  width: var(--timeline-line-width);
  height: var(--timeline-line-width);
  margin-left: var(--timeline-card-margin);
  background: white;
  border-radius: 999px;
  border: 3px solid var(--timeline-line-color);
}

/* datestamp for sorting. */
.timeline .sortstamp {
  display: none;
}

/* floating dates to the opposite side */
.timeline .date {
  height: 0;
  float: right;
}

/* Smaller cards */
.timeline .card.sub {
  padding-left: 2.5em;
  padding-top: 1px;
  padding-bottom: 1px;
}
.timeline .card.sub .info {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.timeline .card.sub summary h3 {
  font-size: 0.9em;
}
.timeline .card.sub .info::before {
  content: "";
  position: absolute;
  width: var(--timeline-line-width-sub);
  height: 0;
  margin-top: 8px;
  margin-left: var(--timeline-card-margin);
  background: white;
  border: 2px solid var(--timeline-line-color);
}
.timeline .card.sub .title::before {
  width: var(--timeline-line-padding-sub);
  height: var(--timeline-line-padding-sub);
  margin-left: var(--timeline-card-margin-sub);
  margin-top: 3px;
}

/* Session entries inside an expanded case <details>. */
.timeline .session-entry {
  padding: 3px 0 3px 1em;
  border-top: 1px solid white;
}
.timeline .session-entry::before {
  content: "";
  position: absolute;
  width: var(--timeline-line-width-sub);
  height: 0;
  margin-top: 8px;
  margin-left: -31px;
  background: white;
  border: 2px solid var(--timeline-line-color);
}
.timeline .session-entry h3 {
  font-size: 0.9em;
}
.timeline .session-entry p {
  margin: 0.3em 1em 0.8em 0;
}
.timeline .session-entry .title::before {
  width: var(--timeline-line-padding-sub);
  height: var(--timeline-line-padding-sub);
  margin-left: -16px;
  margin-top: 3px;
}

@media screen and (max-width: 36em) {
  .timeline h3 { font-size: 0.9em; }
}
@media screen and (max-width: 30em) {
  .timeline h3 { font-size: 0.8em; }
}
@media screen and (max-width: 27em) {
  .timeline h3 { font-size: 0.7em; }
}
@media screen and (max-width: 24em) {
  .timeline h3 { font-size: 0.6em; }
}
@media screen and (max-width: 22em) {
  .timeline h3 { font-size: 0.5em; }
}

/* Session-based Chronological Descriptions */
.sessions {
  margin: 2em 0;
  border-left: 3px solid sandybrown;
  padding-left: 1em;
}

.session-card {
  margin-bottom: 0.75em;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 0.75em 1em;
  border: 1px solid #ddd;
}

.session-card[open] {
  background: #fff;
}

.session-card summary {
  cursor: pointer;
  font-variant: small-caps;
  color: sandybrown;
  font-weight: bold;
  user-select: none;
}

.session-card summary:hover {
  color: #b8733f;
}

.session-tag {
  font-size: 1.1em;
}

.session-content {
  margin-top: 0.75em;
  padding-top: 0.5em;
  border-top: 1px solid #eee;
  line-height: 1.6;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .sessions {
    padding-left: 0.5em;
  }

  .session-card {
    padding: 0.5em;
  }
}
