#nav {
  background: #eee;
  box-shadow: 4px 4px 4px lightgray;
  border: 1px solid darkgray;

  text-align: center;
  position: sticky;
  top: 0;
  margin-left: 1em;
  margin-right: 1em;
  z-index: 1;
}

#nav li {
  display: inline;
  padding-left: 0;
}

#nav li::after {
  content: " ";
  word-spacing: 1em;
  background-image: linear-gradient(
    -0.25turn,
    transparent 0 0.6em,
    currentcolor 0 0.7em,
    transparent 0
  );
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
}

#menu {
  float: left;
  border: 1px solid darkgray;
  background: #eee;
  box-shadow: 4px 4px 4px lightgray;
  margin: 1em;
  margin: 0 1em 1em 1em;
  font-size: x-small;
}

#menu ul {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

#content {
  width: calc(100% - 1em);
}

.gm {
  border: 1px solid darkgray;
  color: #333;
  background-color: #eee;
  margin: 0 0 0 1em;
  padding: 0 1em;
  width: calc(100% - 3em);
}

.statbox {
  border: 1px solid gray;
  max-width: 20%;
  float: right;
  margin: 0 -2px 0 0;
}

.statbox img {
  width: 100%;
}

.statbox .source-link {
  text-align: right;
  font-size: x-small;
  margin: -1.5em 1em 0.3em 0;
}

table tr:nth-child(odd) {
  background: #ccc;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table td {
  border: 1px solid darkgray;
  padding: 0.15em 0.25em;
}

/* -- Index pages with gallery navigation -- */

.gallery div {
  display: inline-block;
  border: 1px solid lightgray;
  margin-bottom: 0.5em;
  padding: 0.4em;
  text-align: center;
}

.gallery div img {
  height: 10em;
}
