<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3" />
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.png" />
    <noscript><link rel="stylesheet" href="{{site.baseurl}}/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/cache-images.js"></script>
    {% for script in page.js %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/{{script}}.js"></script>
    {% endfor %}
  </head>
  <body>
    {% include nav %}
    <h1>{{page.title}}</h1>
    <div id="content">
      {% include statbox %}
      {{content}}
      {% include sessions %}
      {% include gm %}
    </div>
  </body>
</html>
